.weather-widget {
    margin: 1em auto;
    width: 300px;
}
.weather-widget input {
	width: 14em;
	max-width: 100%;
}

.weather-forecast {
	display: flex;
    margin: 1em auto;
    flex-wrap: wrap;
	justify-content: space-around;
	margin-left:auto;
}
.weather-forecast h3{
	flex-basis: 100%;
}
.weather-forecast .weather-card {
	background-color: rgba(56, 172, 236, 1);
	transition: background-color .2s ease-out;
	border-radius: 0.25em;
	max-width: 32%;
}
.weather-forecast .view {
	flex-direction:'row';
	justify-content:'space-between';
	align-items:'center';
}
.weather-forecast .time {
	font-size: 38;
	color: #fff;
}
.weather-forecast img {
	width: 100px;
	height: auto;
	transition: width .2s ease-out;
}
.weather-forecast .notes {
	font-size: 18;
	color:#fff;
	text-transform: capitalize;
}

.forecastbubble{
background-color: rgb(77, 77, 233);
box-shadow: 3px 3px 2px gray;
margin: 5px;
padding: 5px;
border-radius: 4px;
/* border: 1px solid darkblue; */
text-align: left;
width: 300px;
}

div.weather-widget form{
	margin-left:39px !important;

}
