#bubbles{
    width: 300px;
    height: auto;
    background: rgb(77, 77, 233);
    border-radius: 5px;

}

#tasks{
    width: auto;
    padding: 8px;
    border-radius: 3px;
    background:rgb(77, 77, 233);
    margin-bottom: 8px;
}

a{
    color: black;
}