table.day-calendar {
    border: 1px solid black;
    border-collapse: collapse;
    margin: 0 auto;
}
.day-calendar td, .day-calendar th {
  border: 1px solid black;
  padding: 0.25em;
}
.day-calendar tr.current {
  background-color: rgba(0, 128, 255, 0.25);
}

.day-calendar tr.current + tr {
  background-color: rgba(0, 255, 128, 0.25);
}
.day-calendar tr.current + tr + tr {
  background-color: rgba(0, 255, 128, 0.125);
}
.day-calendar tr.current + tr + tr + tr {
  background-color: rgba(0, 255, 128, 0.0625);
}
.day-calendar tr.past {
  color: #555;
  background-color: #ddd;
  font-style: italic;
}

.daycalendarbubble {
  background-color: white;
  box-shadow: 3px 3px 2px gray;
  margin: 10px;
  padding: 10px;
  border-radius: 0.5em;
  /* border: 1px solid darkblue; */
  text-align: left;
  width: 300px;

}

p{
  margin-left: 15px;
  margin-right: auto;
}
button{
  background-color:rgb(77, 77, 233) !important;
  border-radius:0.3em
}

th{
  text-align: center;
}
td button{
  margin-right: 0.4em;
}

form p input{
  margin-top: 20px;
  margin-left: 2.1em !important;
}

form p button {
  margin-top:20px;
  margin-left: 6.1em;
}

div.daycalendarbubble{
  margin-left:auto;
}